.modalEditName {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100px;
    margin-top: -95px;
    color: black;
    background-color: #12002b;
    opacity: 10;
}

.editNameForm {
    box-sizing: border-box;
    width: 300px;
    height: 80px;
    margin: 10px auto;
    background-color: #12002b;
    z-index: 3;
}

.editNameHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
}

.editTitle{
    font-size: 24px;
}

.editNameBlock, .buttonsSection {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    margin-bottom: 20px;
    width: 320px;
}

.editNameBlock {    
    gap: 25px;
}

.buttonsSection {
    gap: 40px;
}

.formLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
    border: 2.5px solid darken (#ccc, 10%);
}

input {
    margin-top: 3px;
    height: 25px;
    width: 200px;
    padding-left: 10px;
    border-radius: 5px;
}

.buttonSave, .buttonOut {
    display: block;
    height: 25px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    color: #5256ec;
    border-color: #5256ec;
    background-color: #ccc;
}

.navButtonSave {
    color: #5256ec;
    border-color: #5256ec;
    background-color: #ccc;
    text-decoration: none;
}

.buttonSave:hover, .buttonOut:hover {
    cursor: pointer;
    text-decoration: underline;
}