.transactionHeader {
    display: block;
    color: #12002b;
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.transactionInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.transactionTitle, .transactionAmountDescription{
    margin: auto;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
}

.transactionAmount {
    margin: auto;
    font-size: 2.5rem;
    font-weight: bold;
}
  
