.accordion {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: auto;
}

.accordion:hover {
    color: #42b983;
    text-decoration: underline;
}

.accordionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.accordionTitle {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 10px;
    border: 1px solid #12002b;
    background-color: #fff;
    gap: 30px;
    width: 100%;
    height: 40px;
}

.accordionTitle p {
    margin: auto;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
}

.chevronUp, .chevronDown {
    height: 20px;
    margin-top: 10px;
    padding-left: 50px;
}

.accordionBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-top: -10px;
    width: 100%;
}

.accordionList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 15%;
    gap: 10px;
}

.category, .note {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.category p, .note p {
    margin: 0;
}

.buttonPencil {
    color: #12002b;
    border: none;
    background-color: white;
}

.buttonPencil:hover {
    cursor: pointer;
    transform: scale(1.5);
    color: #42b983;
}