.transactionDashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titleTransactionList {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 30px;
    width: 90%;
    height: 40px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 40px;
}

.titleDate {
    padding-left: 20px;
}

.titleDescription {
    padding-left: 70px;
}

.titleAmount {
    padding-left: 20px;
}

.titleBalance {
    margin-right: 20px;
}

.transactionInfos {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-left: 35px;
    width: 95%;
}
