.signInContent {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    height: 370px;
    margin: 20px auto;
    padding: 20px;
}
.signInTitle{
    font-size: 24px;
}

.userIconSignIn {
    height: 20px;
    width: 20px;
}

.formGroupSignIn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    width: 240px;
}

.formLineSignIn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

.formLabelSignIn {
    font-size: 16px;
    font-weight: 600;
}

.formControlSignIn {
    width: 100%;
}

input {
    margin-top: 3px;
    height: 25px;
}

.rememberBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    gap: 5px;
}

#rememberMe {
    height: 12px;
    width: 12px;
    margin-top: 7px;
}

.rememberBox label {
    font-size: 17px;
    font-weight: 400;
}

.buttonSignInForm {
    display: block;
    width: 95%;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    margin: 20px auto;
    border-color: #00bc77;
    background-color: #00bc77;
}

.navButtonSignIn {
    color: black;
    background-color: #00bc77;
    border-color: #00bc77;
    text-decoration: none;
}

.buttonSignInForm:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.1);
    color: white;
}